<!DOCTYPE HTML>

<html>
	<head>
		<title>Login</title>
	</head>
	<body>
        <div class="container">
		<h1>Login</h1>
        <!-- This is where our form will go. -->
			<form
				id="loginForm"
				name="sentMessage"
				action="/success.html"
				method="POST">
				{{ form.csrf_token }}
				{{ form.email.label }} {{form.email(size=20)}}
				{{ form.password.label }} {{form.password(size=20)}}
				<button class="btn btn-primary text-uppercase"
					id="submitButton"
					type="submit">Log In</button>
  
			</form>
        </div>
	</body>
</html>