h2 {
    font-style: italic;
}

h1 {
    color:black
}

h2 {
    color:blue;
}

p {
    color:darkcyan;
}

.red-font {
    color:red
}

.blue-font {
    color:blue
}

#default {
    color:slateblue
}


p[draggable]{
    color:yellow
}
