{% extends 'base.html' %}
{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table table-dark table-striped table-hover">
          <!-- This is where you will write the code to render a Bootstrap 
          Table that contains all the information from the 
          cafe-data.csv file. 
          We are passed in rows in the 'cafes' variable, and they are in the format of the csv
          Cafe Name,Location,Open,Close,Coffee,Wifi,Power

          Iterate over the array
          -->
        
        {% for cafe in cafes %}
          <tr>
            <td> {{ cafe.name }} </td>
            {% if ('https') in cafe.map_url %}
              <td><a href="{{ cafe.map_url }}">Map location</a> </td>
            {% else %}
              <td>Map Location</td>
            {% endif %}
            <td> {{ cafe.location }} </td>
            <td> {{ cafe.seats }} </td>
            <td> {{ cafe.has_toilet }} </td>
            <td> {{ cafe.has_wifi }} </td>
            <td> {{ cafe.has_sockets }} </td>
            <td> {{ cafe.can_take_calls }} </td>
            <td> {{ cafe.coffee_price }} </td>
            <td class="text-danger"><a href="{{ url_for('delete', cafe_id=cafe.id) }}">✘</a></td>
          </tr>
        {% endfor %}

  	  </table>
      <p><a href="/">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
