{% extends 'base.html' %}
{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table table-dark table-striped table-hover">
          <!-- This is where you will write the code to render a Bootstrap 
          Table that contains all the information from the 
          cafe-data.csv file. 
          We are passed in rows in the 'cafes' variable, and they are in the format of the csv
          Cafe Name,Location,Open,Close,Coffee,Wifi,Power

          Iterate over the array
          -->
        
        {% for item in cafes %}
          <tr>
            <td> {{ item[0] }} </td>
            {% if ('https') in item[1] %}
              <td><a href="{{ item[1] }}">Map location</a> </td>
            {% else %}
              <td>{{ item[1] }}</td>
            {% endif %}
            <td> {{ item[2] }} </td>
            <td> {{ item[3] }} </td>
            <td> {{ item[4] }} </td>
            <td> {{ item[5] }} </td>
            <td> {{ item[6] }} </td>
          </tr>
        {% endfor %}

  	  </table>
      <p><a href="/">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
