{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/home-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>my little e-store</h1>
          <span class="subheading">A collection of random junk.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!-- item preview-->
      {% for item in all_items %}
      <div class="post-preview">
        <a href="{{ url_for('show_item', item_id=item.id) }}">
          <h2 class="item-title">{{ item.title }}</h2>
          <h3 class="item-subtitle">{{ item.subtitle }}</h3>
        </a>
        <p class="post-meta">
          Price: {{item.price}}
          <a href="{{url_for('add_to_cart', item_id=item.id) }}">Add to cart</a>
          <!-- TODO: Only show delete button if user id is 1 (admin user) -->
           {% if current_user.id == 1 %}
             <a href="{{url_for('delete_item', item_id=item.id) }}">✘</a>
           {% endif %}
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}

      <!-- New item -->
      <!-- TODO: Only show Create item button if user id is 1 (admin user) -->
      {% if current_user.id == 1 %}
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary float-right" href="{{url_for('add_new_item')}}">Create New item</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% include "footer.html" %}
