<!DOCTYPE html>
<html lang="en">
<head>
<h1>Enter your data</h1>
</head>
<body>
    <p>
        This is my body
    </p>

    <form action="/submit.html" method="post">
        <p><label>Name</label><input type="text" name="name" size="10" required minlength="4" maxlength="8" placeholder="name"></input></p>
        <p><label>Password</label><input type="password" name="password" size="20" required minlength="8" maxlength="12" placeholder="secret password"></input></p>
        <button type="submit">Ok</button>
    </form>

</body>